
#fooldalPane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}
.button {
    -fx-text-fill: white;
    -fx-background-color: #004735;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;

    -fx-pref-height: 28px;
    -fx-pref-width: 150px;

  }

  #kilep {
    -fx-background-color: #ffab0d;

  }