#BasePane {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

#fooldalPane {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

#keresoPane {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

#hallgatoHozzaadPane {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

#hallgatoTorlesPane {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

#hallAdModPane {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

#mindenHallPane {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

#lkPane {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

#tfPane {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

#jbPane {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

#tgyakPane {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

#thozPane {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

#lkPane1 {
    -fx-background-color: linear-gradient(to right, #70e1f5, #ffffff, #ffd194);
}

.button {
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

#loginButton {
    -fx-background-color:
            #fcb75b,
            linear-gradient(#fcfbfa, #fcf2e8),
            linear-gradient(#fcf4e8 0%, #fcf0dc 49%, #fce5bd 50%, #ffd194 100%);
}

#visszabtn {
    -fx-pref-width: 144px;
}

#leckekonyvKeresoButton {
    -fx-pref-width: 200px;
}

#kilep {
    -fx-background-color:
            #fcb75b,
            linear-gradient(#fcfbfa, #fcf2e8),
            linear-gradient(#fcf4e8 0%, #fcf0dc 49%, #fce5bd 50%, #ffd194 100%);
}

#listafrissitese {
    -fx-pref-width: 144px;
}

#torol {
    -fx-pref-width: 144px;
}

#targyaklistazasa {
    -fx-pref-width: 144px;
}

#targyhozzaadas {
    -fx-pref-width: 144px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #d4d2d4;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.text-field{
    -fx-pref-width: 150;
    -fx-pref-height: 26;
}