#BasePane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

#fooldalPane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

#keresoPane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

#hallgatoHozzaadPane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

#hallgatoTorlesPane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

#hallAdModPane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

#mindenHallPane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

#lkPane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

#tfPane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

#jbPane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

#tgyakPane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

#thozPane {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

#lkPane1 {
    -fx-background-color: linear-gradient(to bottom right, #ffab0d, #FFFFFF, #FFFFFF, #004735);
}

.button {
    -fx-background-color:
            linear-gradient(#f0ff35,#a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 16,15;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #004735;
    -fx-pref-height: 32px;
    -fx-pref-width: 100px;
}

#loginButton {
    -fx-background-color:
            linear-gradient(#ffef84, #f2ba44),
            radial-gradient(center 50% -40%, radius 200%, #ffea6a 45%, #efaa22 50%);
    -fx-text-fill: #654b00;
}

#visszabtn {
    -fx-pref-width: 144px;
}

#leckekonyvKeresoButton {
    -fx-pref-width: 200px;
}

#kilep {
    -fx-background-color:
            linear-gradient(#ffef84, #f2ba44),
            radial-gradient(center 50% -40%, radius 200%, #ffea6a 45%, #efaa22 50%);
    -fx-text-fill: #654b00;
}

#listafrissitese {
    -fx-pref-width: 144px;
}

#torol {
    -fx-pref-width: 144px;
}

#targyaklistazasa {
    -fx-pref-width: 144px;
}

#targyhozzaadas {
    -fx-pref-width: 144px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected
{
    -fx-background-color: #004735;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.text-field{
    -fx-pref-width: 150;
    -fx-pref-height: 26;
}